* {
    margin: 0px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F4F1E8;
}

img {
    border-radius: 100%;
    margin: 20px 67% 200px 40px;
}

h1 {
    color: #545454;
    text-align: center;
}
h3 {
    color: #191919;
    text-align: center;
    font-size: 40px;
    padding: 0px 0px 0px 302px;
    max-width: 70%;
}
span {
    color: #191919;
    text-decoration: underline;
}

.container {
    display: flex;
    
}

.container > div {
    margin: 30px 30px 0px 0px;
    align-items: center;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

.text-central {
    font-size: 100px;
    margin: 0px 0px 200px 0px;
}
